= form_initial.simple_fields_for :init_guardian, :defaults => { :as => (:plain if @read_only), :user => current_user, :input_html => { :class => "span3" } } do |form_init_guardian|
  %br
  = form_init_guardian.input :guardian_id, :collection => @guardians, :input_html => { :'data-url' => help_model_path(:guardian), :'data-remote' => true, :'data-params' => ("id=#{form_init_guardian.object.guardian_id}" if form_init_guardian.object.guardian_id), :'data-type' => :json, :'data-help-path' => help_model_path(:guardian) }
