<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @register_initial.user %>
</p>


<%= link_to 'Edit', edit_register_initial_path(@register_initial) %> |
<%= link_to 'Back', register_initials_path %>
