%h3 忘却

- @forgets.each do |forget|
  【#{forget.forgettable.class.model_name.human}】#{forget.forgettable.name}を忘却
  - if forget.success
    した（+#{forget.forgettable.forget_point(forget.lv)}#{forget.forgettable.train_point.name}）。
  - else
    ・・・できない。
  %br
