=link_to :"最古", result_eno_path(@creation_day, @id) unless @day_i == @creation_day
=link_to :"前日", result_eno_path(@day_i-1, @id) if @passed_day > 0
=link_to :"後日", result_eno_path(@day_i+1, @id) if @day_i < Day.last_day_i
=link_to :"最新", result_eno_path(nil, @id) unless @day_i == Day.last_day_i
.row-fluid
  #day.span12.well
    #{@passed_day}日目
.row-fluid
  #character_data.span12.well
    = render 'result_character_data'
