=link_to :"前日", result_map_path(@day_i-1, @name) if @day_i > 0
=link_to :"後日", result_map_path(@day_i+1, @name) if @day_i < Day.last_day_i
=link_to :"最新", result_map_path(nil, @name)
.row-fluid
  .span12.well
    = @name
    %br
    =image_tag(result_mapimage_path(@day_i, @name))
