= render 'game_data/error', { game_data_error: @item_skill }
= simple_form_for(@item_skill) do |form_item_skill|
  = form_item_skill.input :definition, :input_html => { :class => :span9 }
  = form_item_skill.submit class: "btn btn-large btn-success"
