%h1= @register_competition.class.model_name.human.downcase
= render 'form', { :register_competition => @register_competition }

= link_to 'Edit', edit_register_competition_path
|
= link_to 'Back', register_competitions_path
