= form_main.simple_fields_for :party_slogan, :defaults => { :as => (:plain if @read_only), :user => current_user, :input_html => { :class => :'span6' } } do |form_party_slogan|
  %br
  = form_party_slogan.input :slogan
