%br
- i = 0
= form_main.label :forgets
= form_main.simple_fields_for :forgets, :wrapper => :simple, :defaults => { :as => (:plain if @read_only), :user => current_user, :input_html => { :class => :'span2' } } do |form_forget|
  = form_forget.input :train_id, :wrapper_html => { :class => 'form-inline' }, :collection => @forget_list, :input_html => { :'data-url' => help_model_path(:train), :'data-remote' => true, :'data-params' => ("id=#{register_main.forgets[i][:train_id]}" if register_main.forgets[i][:train_id]), :'data-type' => :json, :'data-help-path' => help_model_path(:train) }
  - if (i + 1)%4 == 0
    %br
  - i = i + 1
