<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @register_trade.user %>
</p>


<%= link_to 'Edit', edit_register_trade_path(@register_trade) %> |
<%= link_to 'Back', register_trades_path %>
