<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @register_make.updated_at %><br />
</p>


<%= link_to 'Edit', edit_register_make_path(@register_make) %> |
<%= link_to 'Back', register_makes_path %>
