= render 'game_data/error', { :game_data_error => @ability }
= simple_form_for(@ability) do |form_ability|
  = form_ability.input :definition, :input_html => { :class => :span9, :rows => 40 }
  = form_ability.submit :class => "btn btn-large btn-success"
