.hero-unit
  %h1 Dragon NUnavut
  %p 定期更新ゲームを作る過程の何か
  - unless user_signed_in?
    %p
      %a.btn.btn-primary.btn-large{:href => new_user_registration_path} 新規登録 &raquo;
- tx_map = Tx::Map.open("#{Rails.root}/db/game_data/dnu")
.rule
  != tx_map.add_link(" |
    特殊効果記述ルール<br><br> |
    対象範囲対象/{効果(効果量)＋効果(効果量)}×2<br><br> |
    などと言う形式で記述する。 |
  ") |
