<%= form_for(@register_product) do |form_product| %>
  <%= render :partial => 'register/error', :locals=>{:register_error=>@register_product} %>

  <% unless @read_only %>
  <div class="actions">
    <button data-remote="true" class="btn btn-large btn-warning">確認する</button>
    <%= form_product.submit :class => "btn btn-large btn-success" %>
  </div>
  <% end %>
<% end %>
