%h1= @register_products.first.class.model_name.human.downcase
- @register_products.each do |register_product|
  .alert
    = render 'form', { :register_product => register_product }
    = link_to 'Show', register_product
= paginate @register_products
