<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @register_product.user %>
</p>


<%= link_to 'Edit', edit_register_product_path(@register_product) %> |
<%= link_to 'Back', register_products_path %>
