下のほうにある「ツールボックス」で地形種類をクリックして選択。
%br
マップ内でマウスを押しっぱなしにして動かすと書き換えられる。
%br
視界表示オンにすると視界が表示される。
%br
アプトプットボタンを押せばテキスト形式で出力。
%br
- map_size = 26
- vision_size = 5
%input#map_name{ :type => :text, :value => :'マップの名前' }
%input#map_size{ :type => :number, :value => map_size }
%button#map_reset.btn.btn-warning リセット
%br
%textarea#map_caption.span9{ :rows => 3 }
  マップの説明
%br
%table#map
%table#map_tool
  %caption
    ツールボックス
  %tr
    %td 地形種類
    %td 衝突判定
    %td 視界妨害
  %tr#water
    %td.water 水辺
    %td
      %input{ :type => :checkbox, :checked => :checked }
    %td
      %input{ :type => :number, :value => 0 }
  %tr#plain.selected
    %td.plain 平原
    %td
      %input{ :type => :checkbox }
    %td
      %input{ :type => :number, :value => 0 }
  %tr#desert
    %td.desert 砂地
    %td
      %input{ :type => :checkbox }
    %td
      %input{ :type => :number, :value => 0 }
  %tr#forest
    %td.forest 森林
    %td
      %input{ :type => :checkbox }
    %td
      %input{ :type => :number, :value => 1 }
  %tr#mountain
    %td.mountain 山岳
    %td
      %input{ :type => :checkbox }
    %td
      %input{ :type => :number, :value => 2 }
  %tr#wall
    %td.wall 壁
    %td
      %input{ :type => :checkbox, :checked => :checked }
    %td
      %input{ :type => :number, :value => 10 }
%select#map_draw
  %option{ :value => :pen, :selected => :selected } ペン
  %option{ :value => :rectangle } 塗りつぶし
%br
%input#vision_size{ :type => :number, :value => vision_size }
%button#map_vision.btn.btn-warning 視界表示オフ
%br
%button#map_output.btn.btn-warning アプトプット
%br
%textarea#map_text.span9{ :rows => 10 }
