下のほうにある「ツールボックス」で地形種類をクリックして選択。
%br
「ペン」を選択してマップ内でマウスを押しっぱなしにして動かすと書き換えられる。
%br
「塗りつぶし」を選択してマップ内でクリック＆ドラッグした矩形選択を塗りつぶし可。
%br
視界表示オンにするとその地点からの視界が表示される。
%br
テキスト形式で読込ボタンを押すとサンプルのデータを読み込む。
%br
%input#map_name{ :type => :text, :value => :'マップの名前' }
%input#map_size{ :type => :number, :value => @map_size }
%button#map_reset.btn.btn-warning リセット
%br
%textarea#map_caption.span9{ :rows => 3 }
  マップの説明
%br
%table#map
%table#map_tool
  %caption
    ツールボックス
  %tr
    %td 地形種類
    %td 衝突判定
    %td 視界妨害
  - @landforms.each do |landform|
    %tr{ :id => landform.image }
      %td{ :class => landform.image } #{landform.name}
      %td
        %input{ :type => :checkbox, :checked => (:checked if landform.collision) }
      %td
        %input{ :type => :number, :value => landform.opacity }
%select#map_draw
  %option{ :value => :pen, :selected => :selected } ペン
  %option{ :value => :rectangle } 塗りつぶし
%br
%input#vision_size{ :type => :number, :value => @vision_size }
%button#map_vision.btn.btn-warning 視界表示オフ
%br
%button#map_output.btn.btn-warning テキスト形式で出力
%button#map_input.btn.btn-warning テキスト形式で読込
%br
%textarea#map_text.span9{ :rows => 10 }= @rokume
