<%= form_for(@register_character) do |form_character| %>
  <%= render :partial => 'register/error', :locals=>{:register_error=>@register_character} %>

  <div class="field">
    <%= render :partial => 'form_profile', :locals=>{:form_character=>form_character} %>
  </div>
  <div class="actions">
    <%= form_character.submit :class => "btn btn-large btn-success" %>
  </div>
<% end %>
