<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @register_character.updated_at %>
</p>


<%= link_to 'Edit', edit_register_character_path(@register_character) %> |
<%= link_to 'Back', register_characters_path %>
