@import "colors/variables";

@import "bootstrap";
body {
  background-image: image-url("background.png");
  padding-top: 60px;
  padding-bottom: 40px;
}
@import "bootstrap-responsive";
@import "font-awesome";

@mixin shaded_box($bg-color : $bodyBackground, $font-color : $textColor, $shadow-color : #000) {
  background-color: rgba($bg-color, 0.6);
  color: $font-color;
  padding: 10px;
  margin: 5px;
  @include box-shadow(5px 5px 10px rgba($shadow-color, 0.3));
}
div.editor{
  float: none !important;
  margin-left: 0 !important;
}
div.preview{
  background-color: white;
  color: black;
  padding: 10px;
  float: none !important;
  margin-left: 0 !important;
  margin-top: -10px;
  @include box-shadow(5px 5px 10px rgba(black, 0.3));
}
div.rule{
  @include shaded_box;
}
div.Battle{
  @include shaded_box;
}
div.PrePhase{
  @include shaded_box;
}
div.PrepareTurn{
  @include shaded_box;
}
div.LeadoffTurn{
  @include shaded_box;
}
div.Phase{
  @include shaded_box;
}
div.Turn{
  @include shaded_box;
}
div.Act{
  @include shaded_box;
}
div.AddAct{
  @include shaded_box;
}
div.Effects{
  @include shaded_box;
}
div.Before{
  @include shaded_box;
}
div.Children{
  @include shaded_box;
}
div.After{
  @include shaded_box;
}
div.Cemetery{
  @include shaded_box;
}
div.Formation{
  @include shaded_box;
}
div.Result{
  @include shaded_box;
}

div.result {
  min-width:650px;
}
div.imag_test {
  background: #666666;
  width:  100%;
  height: 400px;
}
div.serif {
  overflow: hidden;
  img.icon {
    width: 60px;
    height: 60px;
  }
  div.balloon {
    &.normal {
      max-width:500px;
      position: relative;
      color: $black;
      background: $white;
      border: 4px solid $black;
      margin: 0px 20px 0px 20px;
      padding: 10px;
      @include border-radius(5px);
      @include box-shadow(0px 5px 10px rgba($black, 0.6));
    }
  }
  &.left {
    img.icon {
      float:left;
    }
    div.balloon {
      float:left;
      &:before, &:after {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:before {
        border-color: rgba($black, 0);
        border-right-color: $black;
        border-width: 16px;
        top: 20px;
        margin-top: -16px;
      }
      &:after {
        border-color: rgba($white, 0);
        border-right-color: $white;
        border-width: 10px;
        top: 20px;
        margin-top: -10px;
      }
    }
  }
  &.right {
    div.balloon {
      float:right;
      &:before, &:after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:before {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #ffffff;
        border-width: 10px;
        top: 20px;
        margin-top: -10px;
      }
      &:after {
        border-color: rgba(0, 0, 0, 0);
        border-left-color: #000000;
        border-width: 16px;
        top: 20px;
        margin-top: -16px;
      }
    }
    img.icon {
      float:right;
    }
  }
}
div{
  &.column_2 {
    width:100%;
    overflow: hidden;
    div:nth-child(1) {
      width:50%;
      float:left;
    }
    div:nth-child(2) {
      width:50%;
      float:right;
    }
  }
  &.column_3 {
    width:100%;
    overflow: hidden;
    div:nth-child(1) {
      width:33%;
      float:left;
    }
    div:nth-child(2) {
      width:33%;
      float:left;
    }
    div:nth-child(3) {
      width:33%;
      float:right;
    }
  }
  &.align_left {
    text-align: left;
  }
  &.align_center {
    text-align: center;
  }
  &.align_right {
    text-align: right;
  }
  &.align_justify {
    text-align: justify;
    text-justify: distribute-all-lines;
  }
}
.ruby {
  display:inline-table !important;
  text-align:center !important;
  white-space:nowrap !important;
  text-indent:0 !important;
  margin:0 !important;
  vertical-align:text-bottom !important;
  line-height:1 !important;
}
.ruby > .rb {
  display:table-row-group !important;
  line-height:1.0 !important;
}
.ruby > .rt {
  display:table-header-group !important;
  font-size:71% !important;
  line-height:1.0 !important;
  letter-spacing:0 !important;
}
 
.ruby > .rp {
  display: none !important;
}
