@import "colors/base_main_accent";

$iconSpritePath:      "glyphicons-halflings.png";
$iconWhiteSpritePath: "glyphicons-halflings-white.png";

$textColor: $base-text-color;

$bodyBackground: $base-color;

$heroUnitBackground: $main-color;
$heroUnitHeadingColor: $hero-unit-text-color;
$heroUnitLeadColor: $hero-unit-text-color;

$btnPrimaryBackground: $accent-color;
$btnPrimaryBackgroundHighlight: adjust-hue($btnPrimaryBackground, 5%);

$btnBackground: $base-color;
$btnBackgroundHighlight: darken($base-color, 10%);
$btnBorder: darken($base-color, 10%);

$navbarBackgroundHighlight: $base-color;
$navbarBackground: $base-color;

$navbarText: $base-text-color;
$navbarLinkColor: $base-text-color;
$navbarLinkColorHover: $base-text-color - 60;
$navbarLinkColorActive: darken($base-text-color, 5%);
$navbarLinkBackgroundHover: $base-color - 10;
$navbarLinkBackgroundActive: darken($navbarBackground, 5%);
$navbarBrandColor: $base-text-color;

$hrBorder: darken($base-color, 10%);

$eyecatchBackground: $heroUnitBackground;
$eyecatchTextColor: $hero-unit-text-color;

@import "bootstrap";
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
@import "bootstrap-responsive";

@mixin shaded_box($bg-color : $base-color, $font-color : $base-text-color, $shadow-color : #000) {
  background-color: $bg-color;
  color: $font-color;
  padding: 10px;
  margin: 5px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba($shadow-color, 0.3), 0 0 40px rgba($shadow-color, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba($shadow-color, 0.3), 0 0 40px rgba($shadow-color, 0.1) inset;
            box-shadow:0 1px 4px rgba($shadow-color, 0.3), 0 0 40px rgba($shadow-color, 0.1) inset;
  &:before,
  &:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba($shadow-color,0.8);
    -moz-box-shadow:0 0 20px rgba($shadow-color,0.8);
    box-shadow:0 0 20px rgba($shadow-color,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }
  &:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
  }
}
div.rule{
  @include shaded_box;
}
.popover{
  width: 500px;
}
