// Place all the styles related to the editors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin map_tip($bg-color : #fff, $font-color : #000) {
  background-color: $bg-color;
  color: $font-color;
  width:30px;
  height:30px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

table#map td,th{
  border: 2px #2b2b2b solid;
}
table#map_tool tr.selected{
  background-color: #700;
}
td.plain{
  @include map_tip(#006666);
}
td.forest{
  @include map_tip(#99CC99);
}
td.mountain{
  @include map_tip(#FFCC99);
}
td.water{
  @include map_tip(#9999FF);
}
td.wall{
  @include map_tip(#666666);
}
