= form_art.simple_fields_for :art_name, :defaults => { :as => (:plain if @read_only), :user => current_user } do |form_art_name|
  = form_art_name.input :name, :input_html => { :class => :'string-editor span6' }
  = form_art_name.input :caption, :input_html => { :class => :'document-editor span9', :rows => 2 }
