= render 'game_data/error', { :game_data_error => @character }
= simple_form_for(@character) do |form_character|
  = form_character.input :definition, :input_html => { :class => :span9, :rows => 40 }
  = form_character.submit :class => "btn btn-large btn-success"
