%label 文章1
.controls
  = text_area_tag :text, "", :size => "60x15", :class => "document span9", :'data-maxlength' => 800
%label 文章2
.controls
  = text_area_tag :text, "", :size => "60x15", :class => "document span9", :'data-maxlength' => 800
