%label サンプル
.controls
  = text_area_tag :text, "右側にある【エディタ】ボタンを押すとエディタとプレビュー画面が出てくる。\n<左寄赤><改行>\n<左寄橙><改行>\n<左寄黄><改行>\n<左寄緑><改行>\n<左寄青><改行>\n<左寄藍><改行>\n<左寄紫><改行>\n", :size => "60x15", :class => "document-editor span9", :'data-maxlength' => 800
%label 文章
.controls
  = text_area_tag :text, "", :size => "60x15", :class => "document-editor span9", :'data-maxlength' => 800
