%label サンプル
.controls
  = text_area_tag :text1, @sample, :size => "60x15", :class => "document-editor span9", :'data-maxlength' => 800
%label 文章
.controls
  = text_area_tag :text2, "", :size => "60x15", :class => "document-editor span9", :'data-maxlength' => 800
