%label メッセージ1
.controls
  = text_area_tag :text, "", :size => "60x15", :class => "span9 message-editor", :'data-maxlength' => 800
%label メッセージ2
.controls
  = text_area_tag :text, "", :size => "60x15", :class => "span9 message-editor", :'data-maxlength' => 800
