%label サンプル
.controls
  = text_area_tag :text1, @sample, :size => "60x15", :class => "span9 message-editor", :'data-maxlength' => 800
%label メッセージ
.controls
  = text_area_tag :text2, "", :size => "60x15", :class => "span9 message-editor", :'data-maxlength' => 800
