.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Sidebar
      %li{:class => active_current(root_path)}
        %a{:href => root_path} ホーム
      %li
        %a{:href => "#"} ルール
      %li
        %a{:href => "#"} 結果
      %li.nav-header 掲示板
      %li
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link
  / /.well
/ /span
