<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><a href="<%= new_register_make_path %>">キャラ作成</a></li>
      <li><a href="<%= new_register_character_path %>">キャラ宣言</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->